<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConecTI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Micro.CadastroDemanda"
            android:exported="false"
            android:label="@string/title_activity_cadastro_demanda"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".ButtonBars.ButtonBarMicro"
            android:exported="false"
            android:label="@string/title_activity_button_bar_micro"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Micro.ServiceMicro"
            android:exported="false"
            android:label="@string/title_activity_service_micro"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Micro.WorkSpaceMicro"
            android:exported="false"
            android:label="@string/title_activity_work_space_micro"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Micro.Perfil_Micro_Dois"
            android:exported="false"
            android:label="@string/title_activity_perfil_micro_dois"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Micro.Perfil_Micro_One"
            android:exported="false"
            android:label="@string/title_activity_perfil_micro_one"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Micro.HistoricoPayMicro"
            android:exported="false"
            android:label="@string/title_activity_historico_pay_micro"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".cadastroInicial.MicroInicio.CadastroMicroOne"
            android:exported="false"
            android:label="@string/title_activity_cadastro_micro_one"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".cadastroInicial.MicroInicio.CadastroMicroDois"
            android:exported="false"
            android:label="@string/title_activity_cadastro_micro_dois"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".cadastroInicial.FreelaInicio.CadastroFreelaDois"
            android:exported="false"
            android:label="@string/title_activity_cadastro_freela_dois"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Freela.WorkSpaceFreela"
            android:exported="false"
            android:label="@string/title_activity_work_space_freela"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Freela.ServiceFreela"
            android:exported="false"
            android:label="@string/title_activity_service_freela"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Freela.HistoricoPay"
            android:exported="false"
            android:label="@string/title_activity_historico_pay"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Freela.Perfil_Freela_Dois"
            android:exported="false"
            android:label="@string/title_activity_perfil_freela_dois"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".ButtonBars.ButtonBar"
            android:exported="false"
            android:label="@string/title_activity_button_bar"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".cadastroInicial.FreelaInicio.CadastroFreelaOne"
            android:exported="false"
            android:label="@string/title_activity_cadastro_freela_one"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Freela.Perfil_Freela_One"
            android:exported="false"
            android:label="@string/title_activity_perfil_freela_one"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Cadastro"
            android:exported="false"
            android:label="@string/title_activity_cadastro"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ConecTI" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConecTI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>